<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page - World Oceans Day</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>

  <div class="topbar">
    <h1>Monitoreo de ecosistemas marinos</h1>
  </div>

  <div class="nav-secondary">Biodiversidad</div>

  <div class="breadcrumb">
  <a href="/">Inicio</a> / 
  <a href="/geografia">Geografía de la Ciudad</a> /
  <a href="/catalogo-especies">Catálogo de Especies</a> /
  <a href="/servicios-ecosistemicos">Servicios Ecosistémicos</a>
  </div>

  <div class="container">
    <h2>¿Qué es la biodiversidad?</h2>

    <p>En la primera evaluación del Índice de Biodiversidad Urbana, también conocido como Índice de Singapur, 
      la Ciudad de México busca mejorar la gestión ambiental y promoción de una ciudad próspera y en equilibrio con la biodiversidad. 
      El Índice de Biodiversidad Urbana de la Ciudad de México describe gran parte de la 
      biodiversidad nativa de la ciudad y los servicios ecosistémicos que ofrece con el fin de monitorear y evaluar el
      estado de los ecosistemas y la pérdida de especies mediante indicadores objetivos y fiables. 
      <p>Los 28 indicadores evaluados están a
      lineados con la Estrategia para la Conservación y el Uso Sustentable de la Biodiversidad de la Ciudad de México y el Plan de Acción 2030. El objetivo es gestionar los recursos naturales e implementar políticas públicas que protejan la riqueza biológica característica de la ciudad.
    <div class="gallery">
      <img src="/imagenes/Biodiversidad.jpg" alt="Imagen 1">
    </div>

 
    <h2>Información sobre la Ciudad de México</h2>
    <p>Toda esta información es parte del Índice de Biodiversidad Urbana de la Ciudad de México, que busca mejorar la gestión ambiental y promover una ciudad próspera y en equilibrio con la biodiversidad.</p>
    <p>Referencias 
[1] Secretaría del Medio Ambiente del Gobierno de la Ciudad de México. Índice de 
Biodiversidad Urbana de la Ciudad de México. (2024). [Online]. Disponible en: 
https://www.sedema.cdmx.gob.mx/storage/app/media/DGCPCA/ibu/IBU2024.pdf</p>
    <p>Para más información, visita el sitio web oficial de la <a href="https://www.sedema.cdmx.gob.mx/">Secretaría del Medio Ambiente de la Ciudad de México</a>.</p>
  </div>

  <footer>
    © Proyecto Base de datos sobre Biodiversidad Mexicana.
  </footer>

</body>
</html>